
.table{
    border-radius: 5px !important;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    overflow: hidden;
    min-width: 1100px;
    @include media-max(lg){
        min-width: 100%;
    }
    @include media-max(md){
        min-width: 720px;
    }
}